main {
    color: white;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: grey;
}

h1 {
    background-color: DodgerBlue;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
nav{
  display: block;
  background-color: white;
}
</style>
