/*
 * Add your CSS styles to this file.
 */
<head>
  <link rel="index.html" href="styles.css">
</head>
main {
    color: grey;
}
body {
    height: 150vh;
    background-size: cover;
    font-family:sans-serif;
}
header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
</style>
