main {
    color: white;
}
body {
    height: 150vh;
    color: grey;
    background-size: cover;
    font-family:sans-serif;
}
h1 {
    background-color: DodgerBlue;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
}
li {
    Top: 100px;
    float: left;
    display: block;
    padding 10px 5px;
}
li a:hover {
    background-color: blue;
}  
</style>
